apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: evolutionproposals.neuro.pc
spec:
  group: neuro.pc
  scope: Namespaced
  names:
    kind: EvolutionProposal
    plural: evolutionproposals
    singular: evolutionproposal
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - subjectId
                - scope
                - effectBounds
                - rohBefore
                - rohAfter
                - tokenKind
              properties:
                subjectId:
                  type: string
                scope:
                  type: string
                effectBounds:
                  type: object
                  properties:
                    l2DeltaNorm:
                      type: number
                      format: float
                    irreversible:
                      type: boolean
                rohBefore:
                  type: number
                  format: float
                rohAfter:
                  type: number
                  format: float
                tokenKind:
                  type: string
          x-kubernetes-validations:
            - rule: "self.spec.rohAfter <= 0.3"
              message: "RoH_after must not exceed 0.3"
            - rule: "self.spec.rohAfter <= self.spec.rohBefore"
              message: "RoH_after must not exceed RoH_before"
      subresources:
        status: {}
